* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  text-align: center;
  text-decoration: none;
  list-style: none;
}

body {
  background-color: #000000;
  font-family: "Open Sans", sans-serif;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 2rem;
}

p {
  font-size: 1rem;
}

nav .container {
  max-width: 100%;
  background-color: none;
}
nav .container .navbar-brand img {
  transition: all 300ms;
  width: 300px;
}
nav .container .navbar-brand img:hover {
  transform: scale(1.3);
}
nav .offcanvas {
  background-color: #1e293b;
}
nav div .logocruz {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.offcanvas-header {
  display: flex;
  justify-content: center;
  flex-direction: column-reverse;
}
.offcanvas-header .btn-close {
  align-items: none;
}

.colorfijonav {
  background-color: #0a141d;
}

.nav-item a {
  margin: 3px;
  letter-spacing: 0.2em;
  font-size: 13px;
  font-weight: bold;
}

.red-socialheadear {
  margin-left: 50px;
  display: flex;
  align-items: center;
}
.red-socialheadear a {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  margin-right: 20px;
  text-align: center;
  transition: all 300ms ease;
}
.red-socialheadear a:hover {
  color: rgb(0, 0, 0);
  transform: scale(1.45);
}

.fechascontainer h2 {
  background-color: #0d2033;
  padding: 20px;
  color: #ffffff;
  box-shadow: 0px 5px 15px rgb(50, 50, 48);
  margin-top: 100px;
  letter-spacing: 0.3em;
}
.fechascontainer img {
  width: 50%;
  margin: 25px;
  transition: all 300ms;
}
.fechascontainer img:hover {
  transform: scale(1.15);
}

.biotext {
  margin-top: 100px;
  margin-bottom: 95px;
}
.biotext p {
  color: #000000;
  text-align: center;
  font-size: 1rem;
  margin: 0px;
  padding: 15px;
  line-height: 35px;
}
.biotext h1 {
  color: #000000;
  text-align: center;
  font-size: 4rem;
  margin: 40px 0px 0px 0px;
  padding: 0px;
}

.contacto {
  border: 1px solid #CED5D7;
  border-radius: 6px;
  padding: 45px 45px 20px;
  margin-top: 70px;
  background-color: white;
  box-shadow: 0px 5px 10px #B5C1C5, 0 0 0 10px #EEF5F7 inset;
  max-width: 100%;
  text-align: center;
}
.contacto div {
  margin-bottom: 15px;
}
.contacto div label {
  display: block;
  font-weight: bold;
}
.contacto div input[type=text],
.contacto div textarea {
  padding: 7px 6px;
  width: 294px;
  border: 1px solid #CED5D7;
  resize: none;
  box-shadow: 0 0 0 3px #EEF5F7;
  margin: 5px 0;
}
.contacto div input[type=text]:focus,
.contacto div textarea:focus {
  outline: none;
  box-shadow: 0 0 0 3px #dde9ec;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-auto-rows: minmax(200px, auto);
  gap: 20px;
  padding: 20px;
  grid-auto-flow: dense;
  margin-top: 85px;
}
.grid-container .grid-item {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #03afff;
  border-radius: 4px;
  transition: transform 0.3s ease-in-out;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.grid-container .grid-item:hover {
  filter: opacity(0.9);
  transform: scale(1.04);
}

.reproduccion {
  margin-top: 100px;
}
.reproduccion h2 {
  text-align: center;
  color: #ffffff;
  background-color: #0d2033;
  box-shadow: 0px 5px 15px rgb(50, 50, 48);
  margin: 25px;
  padding: 20px;
  letter-spacing: 0.3em;
}
.reproduccion .video {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
  margin-top: 50px;
  position: relative;
}
.reproduccion .video:nth-child(2n) {
  flex-direction: row-reverse;
  z-index: 99;
}
.reproduccion .video .info {
  flex: 1;
  max-width: 600px;
  margin-bottom: 0;
}
.reproduccion .video .info p {
  text-align: center;
  letter-spacing: 0.4em;
  text-transform: uppercase;
}

.pie-pagina {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  text-align: center;
  width: 100%;
  background-color: #0a141d;
}
.pie-pagina .grupo-1 {
  width: 100%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 50px;
  padding-top: 25px;
}
.pie-pagina .grupo-1 .box figure {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pie-pagina .grupo-1 .box figure img {
  width: 150px;
  padding: 0px;
}
.pie-pagina .grupo-1 .box h2 {
  color: #fff;
  margin-bottom: 25px;
  font-size: 15px;
}
.pie-pagina .grupo-1 .box p {
  color: #efefef;
  margin-bottom: 10px;
}
.pie-pagina .grupo-1 .box .red-social a {
  display: inline-block;
  text-decoration: none;
  width: 45px;
  height: 45px;
  line-height: 45px;
  color: #fff;
  margin-right: 10px;
  background-color: #0d2033;
  text-align: center;
  transition: all 300ms ease;
}
.pie-pagina .grupo-1 .box .red-social a:hover {
  color: rgb(0, 0, 0);
  transform: scale(1.3);
}
.pie-pagina .grupo-2 {
  background-color: #0a1a2a;
  padding: 15px 10px;
  text-align: center;
  color: #fff;
}
.pie-pagina .grupo-2 small {
  font-size: 15px;
}

@media screen and (max-width: 800px) {
  .pie-pagina .grupo-1 {
    width: 90%;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 30px;
    padding: 35px 0px;
  }
  .navbar-brand img {
    width: 250px;
  }
  .fechascontainer img {
    width: 90%;
    margin: 15px 0px;
  }
  .grid-container {
    margin-top: 70px;
  }
  .fechascontainer h2 {
    background-color: #0d2033;
    padding: 20px;
    color: #ffffff;
    box-shadow: 0px 5px 15px rgb(50, 50, 48);
    margin-top: 70px;
    letter-spacing: 0.3em;
  }
  .reproduccion {
    width: 100%;
  }
  .video {
    margin-bottom: 40px;
  }
}
@media screen and (max-width: 900px) {
  .reproduccion .video {
    display: flex;
    flex-direction: column;
  }
  .info {
    margin-top: 50px;
  }
  .reproduccion .video:nth-child(2n) {
    display: flex;
    flex-direction: column;
  }
  .reproduccion iframe {
    margin: 0 auto;
    max-width: 1230px;
    padding: 0 15px;
    width: 100%;
  }
  .red-socialheadear {
    display: none;
    margin-left: 0px;
    margin-top: 10px;
  }
  .red-socialheadear a {
    margin: 20px;
  }
}
@media screen and (max-width: 1024px) {
  .red-socialheadear {
    display: flex;
    justify-items: center;
  }
  .grupo-1 .box h2 {
    margin-bottom: 20px;
  }
}
@media (min-width: 600px) {
  .wide {
    grid-column: span 2;
  }
  .tall {
    grid-row: span 2;
  }
}/*# sourceMappingURL=styles.css.map */