.biotext{
    margin-top: 100px;
    margin-bottom: 95px;

    p {
        color: $colorNegroLetras;
        text-align: center;
        font-size: 1rem;
        margin: 0px 90px 0px 60px;
        padding: 15px;
        line-height: 35px;
    }
    
    h1 {
        color: $colorNegroLetras;
        text-align: center;
        font-size: 4rem;
        margin: 40px 0px 0px 0px;
        padding: 0px;
    
    
    }


}
