.reproduccion{
    margin-top: 100px;

    h2 {
        text-align: center;
        color: #ffffff;
        background-color: #0d2033;
        box-shadow: 0px 5px 15px rgb(50, 50, 48);
        margin: 25px;
        padding: 20px;
        letter-spacing: .3em;
    }

    .video {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-bottom: 50px;
        margin-top: 50px;
        position: relative;

        &:nth-child(2n) {
            flex-direction: row-reverse;
            z-index: 99;
        }

        .info {

            flex: 1;
            max-width: 600px;
            margin-bottom: 0;

            p {
                text-align: center;
                letter-spacing: .4em;
                text-transform: uppercase;
            }
        }
    }
}

